:root {
    --primary-text-colore: #212121;
    --background-colore: #E5E5E5;
    --white-colore: #FFFFFF;
    --accent-colore: #2196F3;
    --light-text-colore: #757575;
    --backgroud-light-colore: #F5F4FA;
    --logo-dark-colore: #000000;
    --portfolio-background-colore: #EEEEEE;
    --header-line-colore: #ECECEC;
    --hero-background-color: #C4C4C4;
    --hero-overlay-colore: rgba(47, 48, 58, 0.4);
    --clients-border-color: #AFB1B8;
    --social-link-color: #afb1bb;
    --lable-background-color: rgba(47, 48, 58, 0.8);;
}
html {box-sizing: border-box;}
*,
*::before,
*::after {box-sizing: inherit;}
body {font-family: 'Roboto', sans-serif;    
    color: var(--primary-text-colore);
    letter-spacing: 0.03em;}
header {border-bottom: 1px solid var(--header-line-colore);
    background-color: var(--white-colore);}
header .container {display: flex;
    align-items: center;}
.list {padding: 0;
    margin: 0;
    list-style: none;}
.main-nav {display: flex;
    margin-right: auto;
    align-items: center;}
.container {margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 0 15px;}
.logo {margin-right: 93px;
    color: var(--accent-colore);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;}
.logo-dark {color: var(--logo-dark-colore);}
.site-nav {margin-right: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;}
.site-nav .item + .item {margin-left: 35px;}
.site-nav a {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--primary-text-colore);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    padding: 32px 0;
}
.site-nav a:hover , .site-nav a:focus {
    color: var(--accent-colore);
}
.site-nav .current {color: var(--accent-colore);}

.site-nav .current::after {
    content: ' ';
    position: relative;
    bottom: -2px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;    
    border-radius: 2px;
    background-color: var(--accent-colore);
}
.contacts {display: flex;}
.contacts .item {
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
.contacts .item + .item {margin-left: 50px;}
.contacts.list {color: var(--light-text-colore);
    fill: var(--light-text-colore);}
.contacts a {
    color: currentColor;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;}
.item.mailtop, .item.phonetop {display: flex;
        align-items: center;}
.contacts.list .icon {margin-right: 10px;
    fill: currentColor;}
.contacts .item:hover, .contacts .item:focus {
    color: var(--accent-colore);
    fill: var(--accent-colore);
}
section {
    padding-top: 100px;
    padding-bottom: 100px;}
.hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--hero-background-color);
    background-image: linear-gradient(
        to right, 
        var(--hero-overlay-colore), 
        var(--hero-overlay-colore)),
        url(../images/hero_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero .container {
    text-align: center;
}
.hero .slogan {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    color: var(--white-colore);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;}
.button {
    background-color: var(--backgroud-light-colore);
    font-family: inherit;
    font-size: 16px;
    align-items: center;
    text-align: center;
    display: flex;
    border-color: transparent;
    border-radius: 4px;
    cursor: pointer;
}
.button.primary {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 10px 32px;
    color: var(--white-colore);
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-colore);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.features {
    background-color: var(--white-colore);
}
.features-title, .portfolio-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
 .image.box {
     box-sizing: border-box;
    position: relative;
    object-fit: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 270px;
    margin-bottom: 30px;
    background-color: var(--backgroud-light-colore);
    border-radius: 4px;
 }
.features.list {
    display: flex;
    margin: 0;
}
.features.list .item {
    width: 270px;
}
.features.list .item + .item {
    margin-left: 30px;
}
.features.list h3 {margin-top: 0;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;}
.features.list p {margin: 0;
    color: var(--light-text-colore);
    font-size: 14px;
    line-height: 1.5;
}

.services {background-color:var(--white-colore);}
section.services {
    padding-top: 0;
}
.services.list {
    justify-content: space-between;
    display: flex;
    }
.section-title {margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;}
.services .item {
    position: relative;
    overflow: hidden;
}
.services.list .item + .item {margin-left: 30px;}
.services img {display: block;
    height: auto;
    max-width: 100%}
.lable {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
    text-transform: uppercase;
 
    font-size: 14px;
    background-color: var(--lable-background-color);
    color: var(--white-colore);
}


.team {
    background-color: var(--backgroud-light-colore);
}
.team.list {
    justify-content: space-between;
    text-align: center;
    display: flex;
}
.item.position {background-color: var(--white-colore);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;}
.team .item + .item {margin-left: 30px;}
.team .leads {padding-top: 30px;
    padding-bottom: 30px;}
.team img {
    display: block;
    height: auto;
    max-width: 100%;
}
.team h3 {margin-top: 0;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;}
.team p {
    margin-top: 0;
    margin-bottom: 16px;
    color: var(--light-text-colore);
    line-height: 1.19;
    text-align: center;
}
.social.list {
    justify-content: center;
    display: flex;
}
.social.list .item {fill: currentColor;}
.social.list .item + .item {margin-left: 10px;}
.social a {
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--social-link-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.social.list a:hover, .social.list a:focus {
    background-color: var(--accent-colore); 
    fill: var(--white-colore);}

.clients.list {margin-top:auto;
    justify-content: space-between;
    text-align: center;
    display: flex;
}
.clients.list a {
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--clients-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 92px;
    width: 170px;
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid var(--clients-border-color);
    border-radius: 4px;
}
.clients.list a:hover, .clients.list a:focus {
    border-color: var(--accent-colore); 
    fill: var(--accent-colore);
}
.clients.list .item + .item {
    margin-left: 30px;
}
.portfolio {
    background-color: var(--white-colore);
}
.base.button,.current.button {
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 6px 22px;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.03em;}
.portfolio.list {justify-content: center;
    margin-bottom: 50px;
    display: flex;}
.portfolio.list .item + .item {margin-left: 8px;}
.portfolio.list button:hover, .portfolio.list button:focus {
    color: var(--white-colore);
    background-color: var(--accent-colore);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.current.button {
    color: var(--white-colore);
    background-color: var(--accent-colore);
}
.projects.list {
    justify-content: end;
    display: flex; 
    flex-wrap: wrap;
}
.projects.list .item {
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: var(--white-colore);
}
.projects.list .item:nth-child(3n) {
    margin-right: 0;
}
.projects.list .item:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.link.card {text-decoration: none;}
/* .projects.list .item:not(:nth-child(3n)) {margin-right: 24px;}
.projects.list .item:not(:nth-last-child(-n+3)) {margin-bottom: 24px;} */

.projects.list .item:hover, .projects.list .item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects.list .info {
    border-right: 1px solid var(--portfolio-background-colore);
    border-bottom: 1px solid var(--portfolio-background-colore);
    border-left: 1px solid var(--portfolio-background-colore);
    padding: 20px 24px;
}
.projects h2 {
    color: var(--primary-text-colore);
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.projects p {
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--light-text-colore);
    line-height: 1.88;
}
.projects h2, .projects p {
    background-color: var(--white-colore);
}
footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--primary-text-colore);
}
.footer.logo {display: block;
    margin-bottom: 20px;
}
.logo-white {
    color: var(--white-colore);
}
.address a {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color:var(--white-colore);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.address.list .item + .item {
    margin-top: 9px;
}
.phone a, .mail a {
    color: rgba(255, 255, 255, 0.6);
}
.address a:hover, .address a:focus {
    color: var(--accent-colore);
}
.container.footer {
    display: flex;
    align-items: baseline;
}
.actionsosial {margin-left: 70px;}
footer .action {margin-top: 0;
    color: var(--white-colore);
    font-weight: bold; 
    font-size: 14px; 
    line-height: 1.14;
    letter-spacing: 0.03em; 
    text-transform: uppercase;
}
.actionsosial .icon {fill: var(--white-colore);}
.actionsosial .link {
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(255, 255, 255, 0.1);
}
.actionsosial .link:hover, footer.actionsosial .link:focus {background-color: var(--accent-colore);}
